@charset "utf-8";
@import url("./normalize.css");
@import url("./reset.css");
@import url("./fonts.css");

/* 숨긴 콘텐츠 */

.readable-hidden {
  background-color: red;
  /* display: none; */
  /* 이걸 쓰면 안 됨 읽을 수 있지만 보이지 않게 해야하는데 이건 아예 읽을 수 없게 하기 때문 */
  position: absolute;
  left: -9999em;
  /* font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
  margin: -1px 0 0 -1px; */
}


/* 본문스타일 */

html {
  font-size: 10px;
}

body {
  color: #181818;
  font-size: 1.4rem;
  /* font-family: Georgia, 'Times New Roman', Times, serif */
  font-family: "Noto Sans Regular", sans-serif;
  background-color: #fff
}


/* 링크스타일 */

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f00;
  outline: 3px solid blue
}


/* 기본 box-sizing 재설정 */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* '*' 전체 선택자는 성능 저하를 낳을 수 있으니 남발하지 말자 */
}

.wrapper {
  background-color: gray;
  height: 100vh;
}


/* 선택자의 그룹핑(grouping) 방식 */

.header,
.visual,
.main-content,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}


/* 헤더 */

.header {
  background-color: #fff;
  padding: 0 30px 30px;
  position: relative;
  border-radius: 0 0 25px 25px;
  /* border-radius: 0 0 50px 50px/ 0 0 15px 15px; */
  /* 앞에 건 x축, 뒤에 건 y축 */
}


/* 로고 */

.logo {
  position: absolute;
  top: 45px;
  left: 60px;
}


/* 안내링크 */

.info-menu {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  position: relative;
  right: -10px;
}

.info-menu li::after {
  content: ":";
}

.info-menu li:last-child::after {
  content: "";
}

.info-menu a {
  display: inline-block;
  /* background-color: lime; */
  padding: 8px 10px;
}


/* 메인 메뉴 */

.main-menu {
  /* background-color: orange;
  background-image: linear-gradient(to bottom, red 0%, blue 30%, green 100%); */
  background: #db9d29 linear-gradient(to bottom, #ffcf32 0%, #db9d29 35%, #db9d29 70%, #ffcf32 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 47px;
  padding-left: 225px;
}

.main-menu span {
  color: #fff;
  font: 1.6rem "Noto Sans Bold", sans-serif;
}

.sub-menu {
  background: yellow;
}

.visual {
  background-color: pink;
  height: 120px;
}

.main-content {
  background-color: red;
  padding: 30px;
  /* overflow: hidden; */
  min-height: 400px;
  /* flex를 이용한 방법 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}


/* .main-content::after {
  content: "";
  background-color: yellow;
  display: block;
  clear: both;
} */

.group {
  /* margin: 30px 15px; */
}

.group1 {
  background-color: aqua;
  width: 250px;
  /* float: right; */
}

.group2 {
  background-color: olive;
  width: 380px;
  /* float: left */
}

.group3 {
  width: 190px;
  background-color: orange;
  /* float: left; */
}

.slogan {
  background-color: lime;
}

.footer {
  background-color: skyblue;
}