@charset "utf-8";
@import url("./normalize.css");
@import url("./reset.css");
@import url("./fonts.css");
@import url("./fontello.css");

/* 숨긴 콘텐츠 */

.readable-hidden,
legend {
  background-color: red;
  /* display: none; */
  /* 이걸 쓰면 안 됨 읽을 수 있지만 보이지 않게 해야하는데 이건 아예 읽을 수 없게 하기 때문 */
  position: absolute;
  left: -9999em;
  /* font-size: 0;
  line-height: 0;
  width: 1px;
  height: 1px;
  margin: -1px 0 0 -1px; */
}


/* 본문스타일 */

html {
  font-size: 10px;
}

body {
  color: #181818;
  font-size: 1.4rem;
  /* font-family: Georgia, 'Times New Roman', Times, serif */
  font-family: "Noto Sans Regular", sans-serif;
  background-color: #fff
}


/* 링크스타일 */

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f00;
  /* outline: 2px solid blue */
}


/* 기본 box-sizing 재설정 */

*,
*::before,
*::after {
  box-sizing: border-box;
  /* '*' 전체 선택자는 성능 저하를 낳을 수 있으니 남발하지 말자 */
}

.wrapper {
  /* background-image: url("images/bg_flower.png"), linear-gradient(to bottom, #aaa 0%, #fff 50%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0, 0 0; */
  /* background-attachment: fixed; */
  background: url("images/bg_flower.png") no-repeat 50% 0, linear-gradient(to bottom, #aaa 0%, #fff 50%, #fff 100%);
  background-color: #aaa;
}


/* 선택자의 그룹핑(grouping) 방식 */

.header,
.visual,
.main-content,
.slogan,
.footer {
  width: 940px;
  margin: 0 auto;
}


/* 헤더 */

.header {
  background-color: #fff;
  padding: 0 30px 30px;
  position: relative;
  border-radius: 0 0 25px 25px;
  /* border-radius: 0 0 50px 50px/ 0 0 15px 15px; */
  /* 앞에 건 x축, 뒤에 건 y축 */
}


/* 로고 */

.logo {
  position: absolute;
  top: 45px;
  left: 60px;
}


/* 안내링크 */

.info-menu {
  display: flex;
  justify-content: flex-end;
  text-transform: uppercase;
  position: relative;
  right: -10px;
}

.info-menu li::after {
  content: ":";
}

.info-menu li:last-child::after {
  content: "";
}

.info-menu a {
  display: inline-block;
  padding: 8px 10px;
}


/* 메인 메뉴 */

.main-menu {
  /* background-color: orange;
  background-image: linear-gradient(to bottom, red 0%, blue 30%, green 100%); */
  background: #db9d29 linear-gradient(to bottom, #ffcf32 0%, #db9d29 35%, #db9d29 70%, #ffcf32 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 47px;
  padding-left: 225px;
}

.main-menu>li {
  float: left;
  position: relative;
}

.main-menu span {
  display: block;
  cursor: pointer;
  color: #fff;
  font: 1.6rem "Noto Sans Bold", sans-serif;
  line-height: 45px;
  padding: 0 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  text-shadow: 1px 0 0px #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000;
}

.main-menu span:hover,
.main-menu span:focus {
  color: yellow;
  outline: 0;
}

.main-menu span:hover::after,
.main-menu span:focus::after {
  display: block;
  content: "";
  border-top: 2px solid #000;
}

.sub-menu {
  position: absolute;
  top: 47px;
  font-size: 0;
  white-space: nowrap;
}

.sub-menu a {
  padding: 5px 10px 5px 0;
  margin-right: 5px;
}

.sub-menu a::before {
  content: "\e802";
  font-family: "fontello";
  /* 아이콘 폰트 자체의 문제이기 때문에 어쩔 수 없이 집어넣는 코드 */
  margin-right: 10px;
}

.sub-menu a:hover::before {
  content: "\e803"
}

.sub-menu li,
.sub-menu a {
  display: inline-block;
  font-size: 1.4rem;
}

.about-html {
  display: none;
}

.about-css {
  display: none;
}

.web-standards {
  display: none;
}

.web-accessibility {
  display: none;
  right: 0;
}

.qna {
  display: none;
  right: 0;
}

.archive {
  display: none;
  right: 0;
}

.sub-menu-active {
  display: block !important;
}


/* 비주얼 */

@keyframes text-ani {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
    opacity: 0;
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
    opacity: 1;
  }
}

@keyframes flower-ani {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual {
  height: 120px;
  position: relative;
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visual::before {
  background: url("images/ani_flower_01.png") no-repeat 0 -15px, url("images/ani_flower_02.png") no-repeat 670px 0;
  animation: flower-ani 2s alternate infinite 1.34s;
}

.visual::after {
  background: url("images/ani_flower_03.png") no-repeat 300px 0, url("images/ani_flower_04.png") no-repeat 800px 0;
  animation: flower-ani 2s alternate infinite;
}

.visual-text {
  opacity: 0;
  /* animation-name: text-ani;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 1s; */
  /* animation: text-ani 3s forwards 6 alternate ease-in-out 2s; */
  animation: text-ani 1s forwards;
  /* animation-play-state: paused */
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 330px;
}


/* 메인 콘텐츠 */

.main-content {
  background-color: #fff;
  border-radius: 25px 25px 0 0;
  padding: 30px;
  /* overflow: hidden; */
  min-height: 400px;
  /* flex를 이용한 방법 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}


/* .main-content::after {
  content: "";
  background-color: yellow;
  display: block;
  clear: both;
} */

.group {
  /* margin: 30px 15px; */
}

.group1 {
  width: 250px;
  /* float: right; */
}

.group2 {
  width: 380px;
  /* float: left */
}

.group3 {
  width: 190px;
  /* float: left; */
}


/* 로그인 */

.login {
  background: radial-gradient(circle at right top, #efc62f, #d88e04);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px 0 0 #aaa;
}

.login-heading {
  color: #ff0;
  font-size: 1.6rem;
  font-family: "Noto Sans Bold";
  margin: 0 0 10px 10px;
}

.login-form {
  background: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-bottom: 4px;
}

.user-email,
.user-pw {
  margin-bottom: 6px;
}

.login-form label,
.login-form,
.btn-login {
  font-size: 1.4rem;
}

.login-form label {
  width: 4em;
  display: inline-block;
}

.login-form input {
  width: 98px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 0 0 0 5px;
}

.btn-login {
  position: absolute;
  top: 2px;
  right: 0;
  margin: 0;
  padding: 0 5px;
  border: 0;
  width: 50px;
  height: 50px;
  color: #fff;
  background: #f00;
  border-radius: 3px;
}

.member {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 10px 10px 10px 10px;
}

.member::after {
  content: "";
  display: block;
  clear: both;
}

.member li {
  letter-spacing: -1px;
}

.member li:nth-child(1) {
  float: left;
}

.member li:nth-child(2) {
  float: right;
}

.member a {
  padding: 5px 0;
}

.member a::before {
  content: "g";
  font-family: "webcafeIcon";
  position: relative;
  top: 2px;
  color: #f00;
}


/* 내가 짰던 코드 */


/* .login,
.login-heading {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-heading {
  background-color: orange;
  display: block;
  padding: 10px 10px 10px 20px;
  border-radius: 5px;
}

.login {
  background-color: orange;
  height: 160px;
}

.login-form {
  background-color: white;
  width: 230px;
  margin: 0 10px 0 10px;
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.login-form>fieldset {
  border-bottom: 1px solid gray;
  padding: 0 0 10px 0;
}

.user-email,
.user-pw {
  float: left;
}

#user-email,
#user-pw {
  width: 100px;
}

#user-email {
  margin-left: 13px
}

.btn-login {
  color: white;
  background-color: red;
  padding: 15px 5px;
  margin: 0 0 0 5px;
  border: 0px;
  border-radius: 5px;
}

.member {
  background-color: white;
  margin: 0 10px 10px 10px;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */


/* 유효성 검사 배너 링크 */


/* 내가 짠 코드 */


/* .validation {
  margin-top: 20px;
}

.validation-list li {
  padding: 5px 0 4px 40px;
  margin-bottom: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  background: url("images/validation_icon.png") no-repeat 5%, #db9d29 linear-gradient(to bottom, #fffeff 0%, #cdcdcd 100%);
  font: 1em "Noto Sans Regular", sans-serif;
} */

.validation {
  margin-top: 20px;
}

.validation li {
  margin-bottom: 10px;
}

.validation a {
  background: url("images/validation_icon.png") no-repeat 15px 50%, linear-gradient(to top, #eee, #ccc);
  display: block;
  border: 1px solid #aaa;
  padding: 5px 10px 5px 45px;
  border-radius: 20px;
}


/* 웹 관련 용어 */

.term {
  background: linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
}

.term-heading {
  font-family: "Noto Sans Bold";
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.term-list dt:nth-child(6n+4),
.term-list dd:nth-child(6n+6) {
  float: left;
}

.term-list dd:nth-child(6n+5) {
  float: right;
}

.term-list::after {
  content: "";
  clear: both;
  display: table;
}

.term-list-title,
.term-list-brief {
  float: right;
  width: 145px;
}

.term-list-title {
  color: #296897;
  font-weight: bold;
  margin-bottom: 5px;
}

.term-list-thumbnail {
  float: left;
}

.term-list-thumbnail img {
  display: block;
}


/* .term {
  background: no-repeat 15px 50%, linear-gradient(to top, #ccc, #eee);
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.term-heading {
  margin-bottom: 10px;
  font-family: "Noto Sans Bold";
  font-size: 1.5rem;
}

.term-list::after {
  content: "";
  display: block;
  clear: both;
}

.term-list-title,
.term-list-thumbnail,
.term-list-brief {
  display: inline;
}

.term-list-title {
  float: right;
  padding: 0 71px 3px 0;
  color: #296897;
  font-family: "Noto Sans Bold";
}

.term-list-thumbnail {
  float: left;
}

.term-list-brief {
  float: right;
  width: 145px;
  font-family: "Noto Sans Regular";
} */


/* 검색 */

.search {
  background: linear-gradient(to top, #fff, #ccc);
  border: 1px solid #aaa;
  border-bottom: #fff;
  border-radius: 15px 15px 0 0;
  padding: 20px 25px 10px;
}

.search-form fieldset {
  display: flex;
  justify-content: space-between;
}

.search-form label,
.search-form input,
.btn-search {
  vertical-align: middle;
}

.search-form label::before {
  content: "z";
  font-family: "webcafeIcon";
  position: relative;
  top: 2px;
}

.search-form input {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 0 0 5px;
  height: 22px;
  /* width: calc( 100% - 130px); */
}

.btn-search {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0 10px;
  color: #fff;
  background: linear-gradient(to bottom, #333, #999);
  height: 22px;
}


/* .search {
  background: yellow;
  padding: 25px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to bottom, #aaa 0%, #fff 95%, #fff 100%);
}

.search-form {}

.search-form fieldset {
  display: flex;
  justify-content: space-between;
}

#search {
  width: 180px;
}

.btn-search {
  border: 1px solid grey;
  border-radius: 5px;
  background: linear-gradient(to bottom, #000 0%, #aaa 60%, #ccc 100%);
  color: white;
} */


/* 공지사항 및 자료실 */

.board {
  margin-top: 20px;
  position: relative;
}

.board ul,
.notice-more,
.pds-more {
  display: none;
}

.board-active ul,
.board-active>a {
  display: block !important;
}

.notice-more,
.pds-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}

.notice-heading,
.pds-heading {
  /* 탭을 플로트로 배치했을 경우 */
  /* float: left; */
  display: inline-block;
  background: linear-gradient(to bottom, #eee, #ccc);
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  padding: 5px 15px;
  color: #666;
  position: absolute;
  top: 0;
}

.notice-heading {
  left: 0;
}

.pds-heading {
  left: 83px;
}

.board-active .notice-heading,
.board-active .pds-heading {
  background: #fff!important;
  color: #f00;
  border-color: #f00 #f00 #fff #f00;
}

.notice-list,
.pds-list {
  /* 목록을 레이어로 배치했을 경우 */
  /* position: absolute;
  top: 45px;
  left: 0;
  width: 100%; */
  /* 목록이 많아져도 칸이 저절로 넓어짐 */
  padding-top: 45px;
  min-height: 200px;
}

.notice-list li,
.pds-list li {
  margin: 5px 0;
}

.notice-list li::before,
.pds-list li::before {
  content: "r";
  font-family: "webcafeIcon";
  position: relative;
  top: -3px;
}

.notice-list a,
.pds-list a {
  width: 285px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board time {
  float: right;
}

.icon-more::before {
  content: "p";
  font-family: "webcafeIcon";
  position: relative;
  top: 2px;
  color: hsla(120, 30%, 50%, 1);
  margin-right: 5px;
}


/* 내가 짠 코드, notice만 짜고 있었음 */


/* .board {
  margin-top: 20px;
  position: relative;
  height: 180px;
}

.board-active {
  ;
}

.notice {
  background: yellow;
}

.notice-heading {
  float: left;
  border: 1px solid grey;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to bottom, #eee, #ccc);
  padding: 5px 10px;
}

.notice-heading:active {
  background: white;
  border: 1px solid orange;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
}

.notice-list {
  position: absolute;
  top: 40px;
  left: 10px;
}

.notice-list li {
  margin: 5px 0;
}

.notice-list li::before {
  content: "r";
  font-family: "webcafeIcon";
  position: relative;
  top: 2px;
}

.notice-list time {
  float: right;
}

.notice-more {
  position: absolute;
  right: 0px;
  padding: 5px 10px;
}

.icon-more::before {
  content: "p";
  font-family: "webcafeIcon";
  position: relative;
  top: 2px;
}

.pds {
  background: skyblue;
}

.pds-heading {
  float: left;
  border: 1px solid grey;
  border-bottom: 0px;
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to bottom, #eee, #ccc);
  padding: 5px 10px;
}

.pds-list {
  display: none;
  position: absolute;
  top: 30px;
  left: 10px;
}

.pds-more {
  position: absolute;
  right: 0px;
  padding: 5px 10px;
} */


/* 새소식 */

.news {
  margin-top: 20px;
  position: relative;
}

.news::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 0;
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, #aaa, #fff);
}

.news-heading {
  font-size: 1.6rem;
  font-family: "Noto Sans Bold";
  color: #f00;
}

.news a:nth-child(2) {
  display: block;
  margin-top: 30px;
}

.news-item {
  padding-left: 145px;
  position: relative;
}

.news-item-heading {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0 0 0 -1em;
  position: relative;
  top: -5px;
}

.news-item-heading::before {
  content: 'r';
  font-family: "webcafeIcon";
  position: relative;
  top: 2px;
}

.news-item-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

.news-item-thumbnail figcaption {
  margin-top: 15px;
  text-align: center;
}

.news-item-thumbnail img {
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.5);
}

.news-item-brief {
  line-height: 1.5;
}

.news-more {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 8px;
}


/* .news {
    margin-top: 10px;
    position: relative;
  }
  
  .news-heading {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
    padding-bottom: 20px;
  }
  
  .news-heading::after {
    content: "";
    position: absolute;
    top: 35px;
    display: block;
    width: 80%;
    height: 1px;
    background: linear-gradient(to right, #9b9b9b, #eee);
  }
  
  .news-item {
    padding-left: 130px;
  }
  
  .news-item-heading {
    font-family: "Noto Sans Bold";
    font-size: 1em;
  }
  
  .news-item-heading::before {
    content: "r";
    font-family: "webcafeIcon";
  }
  
  .news-item-date {
    ;
  }
  
  .news-item-thumbnail {
    position: absolute;
    top: 50px;
    left: 0px;
  }
  
  .news-item-thumbnail figcaption {
    padding: 10px 0 10px 18px;
  }
  
  .news-item-brief {
    ;
  }
  
  .news-more {
    position: absolute;
    top: 0;
    right: 0;
  } */


/* 신규 이벤트 */


/* 따라치다 놓쳐서 망함 */

.event {
  position: relative;
  border-bottom: 1px solid #000;
}

.event-heading {
  ;
}

.event-detail {
  ;
}

;
.btn-event {
  background: pink;
  height: 18px;
  position: absolute;
  top: 3px;
  right: 0;
}

.btn-event-prev,
.btn-event-next {
  padding: 18px 0 0 0;
  bottom: 0;
  width: 19px;
  height: 100%;
  border: 0;
  overflow: hidden;
  background: url("images/back_forward.png") no-repeat;
}


/* .btn-event-prev,
  .btn-event-next {
    overflow: hidden;
    width: 19px;
    height: 100%;
    padding: 18px 0 0 0;
    border: 0;
    background: url("images/back_forward.png")no-repeat;
  } */

.event-related {
  background: #ccc linear-gradient(to bottom, #eee, #ccc);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px
}

.event-heading,
.related-heading,
.pop-site-heading {
  font-size: 1.6rem;
  font-family: "Noto Sans Bold", sans-serif;
}

.event-heading span,
.related-heading span,
.pop-site-heading span {
  color: #f00;
}

.event-thumbnail img {
  border: 1px solid #aaa;
  box-shadow: 6px 6px 0 0 #999;
}

.event-thumbnail,
.event-brief {
  background: yellow;
  margin: 10px 0;
}


/* 내가 짠 코드 */


/*   
  .event {
    background: radial-gradient(circle at right top, #fff, #ccc);
    padding: 10px;
    position: relative;
    border: 1px solid #aaa;
    border-radius: 10px;
  }
  
  .event-heading {
    font-size: 1.6rem;
    font-weight: bold;
  }
  
  .event-heading span {
    color: red;
  }
  
  .event-detail {
    background: lime;
    position: relative;
  }
  
  .event-brief {
    margin: 5px 0;
    border-bottom: 1px solid #aaa;
  }
  
  .event-thumbnail {
    background: blue;
    margin-top: 10px;
    border: 1px solid #a6a4a6;
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.3);
  }
  
  .btn-event {
    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 2px;
  }
  
  .btn-event-prev,
  .btn-event-next {
    background: url("./images/back_forward.png") no-repeat;
    border: none;
    width: 19px;
    height: 0;
    padding: 18px 0 0 0;
    overflow: hidden;
    
    display: inline-block;
  }
  
  .btn-event-next {
    background-position: -36px 0;
  } */

.related {
  padding-top: 10px;
}

.related-list {
  background: #fff;
  margin-top: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 27px;
  overflow: hidden;
  /* transition-property: height, padding, background, border-radius;
    transition-duration: 1s, 1s, 2s, 2s;
    transition-delay: 0s, 0s, 2s, 2s; */
  /* transition: height 1s 0s, padding 1s 0s, background 2s 2s, border-radius 2s 2s; */
  transition: all 0.5s;
}

.related-list:hover,
.related-list:focus {
  height: 147px;
  padding: 10px 0;
}

.related-list a {
  display: block;
  line-height: 25px;
  padding-left: 25px;
}


/* @keyframes list-ani {
    0% {
      margin-top: 10px;
      padding: 5px 0 5px 20px;
      height: 35px;
      overflow: hidden;
    }
    100% {
      margin-top: 10px;
      padding: 10px 0 5px 20px;
      height: 145px;
    }
  }
  
  .related-list {
    background: #fff;
    margin-top: 10px;
    padding: 5px 0 5px 20px;
    height: 35px;
    overflow: hidden;
  }
  
  .related-list:hover {
    animation-name: list-ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background: #fff;
    margin-top: 10px;
    padding: 5px 0 5px 20px;
    height: 35px;
    overflow: hidden;
  }
  
  .related-list li {
    margin-bottom: 5px;
  } */


/* 인기 사이트 */

.pop-site {
  margin-top: 20px;
  padding: 10px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
  position: relative;
}

.pop-site-rank {
  margin-top: 10px;
  overflow: hidden;
}

.pop-site-rank li {
  counter-increment: number;
  margin: 5px 0;
  position: relative;
}

.pop-site-rank li:first-child {
  margin-top: 0;
}

.pop-site-rank li:last-child {
  margin-bottom: 0;
}

.pop-site-rank li::before {
  background: #999;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 5px;
  border-radius: 3px;
  margin-right: 5px;
  content: counter(number, decimal);
}

.pop-site-rank em {
  background: lime;
  width: 9px;
  height: 11px;
  padding-top: 11px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5px;
  /* transform: translateY(50%); */
  background: url("images/rank.png") no-repeat;
  /* 유연한 배치가 안되는 문제 */
  /* float: right; */
  /* margin-top: 5px; */
  /* 전통적 해결법 */
  /* position: absolute;
  top: 50%;
  right: 0; */
}

.stop {
  background-position: 0 50% !important;
}

.down {
  background-position: 0 100% !important
}

.pop-site-more {
  position: absolute;
  top: 2px;
  right: 0;
  padding: 5px;
}


/*   
  .pop-site {
    margin-top: 10px;
    padding: 10px;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
  }
  
  .pop-site-heading {
    background: pink;
    margin-bottom: 5px;
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
  }
  
  .pop-site-heading span {
    color: #f00;
  }
  
  .pop-site-heading span {
    color: #f00;
  }
  
  .pop-site-rank {
    margin-left: 15px;
  }
  
  .pop-site-rank li {
    list-style-type: none;
  }
  
  .pop-site-rank li::before {
    display: inline-block;
    margin: 0 10px 0 -15px;
    border: 1px solid grey;
  }
  
  .pop-site-rank .no1::before {
    content: "1";
  }
  
  .pop-site-rank .no2::before {
    content: "2";
  }
  
  .pop-site-rank .no3::before {
    content: "3";
  }
  
  .pop-site-rank .no4::before {
    content: "4";
  }
  
  .pop-site-rank em {
    float: right;
    padding-left: 9px;
    white-space: nowrap;
    overflow: hidden;
    width: 9px;
    height: 11px;
    transform: translateY(50%);
  }
  
  .up {
    background: url("images/rank.png");
  }
  
  .down {
    background: url("images/rank.png") no-repeat;
    background-position: 0 -44px;
  }
  
  .stop {
    background: url("images/rank.png");
    background-position: 0 -20px;
  }
  
  .pop-site-more {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 10px 0 0;
  } */


/* 슬로건 */

.slogan {
  position: relative;
}

.slogan-heading {
  position: absolute;
  left: 35px;
  bottom: -50px;
  width: 110px;
  height: 83px;
  padding-top: 83px;
  overflow: hidden;
  background: url("images/coffee.png") no-repeat;
}

.slogan-content {
  margin: 15px 80px 15px 180px;
  color: #a09784;
}

.slogan-content q {
  font-weight: bold;
  font-family: "Noto Sans Bold";
}

.slogan-content q::before {
  font-size: 3rem;
  position: relative;
  top: 10px;
}

.slogan-content q::after {
  content: "";
}


/* 인용구 앞, 뒤에 넣을 내용 커스텀 */


/* 
.slogan-content q {
  quotes: "" "";
}

.slogan-content q:before {
  content: "\"";
  font-size: 2em;
}

.slogan-heading {
  background: url("images/coffee.png") no-repeat;
  width: 110px;
  height: 83px;
  padding-left: 110px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.slogan-content {
  font-weight: bold;
  margin: 0 130px 0 140px;
  ;
} */


/* 푸터 */

.footer {
  position: relative;
  padding: 15px 0;
}

.footer-bg {
  background: #aaa linear-gradient(to bottom, #aaa, #fff)
}

.footer-logo {
  position: absolute;
  top: 35px;
  left: 35px;
}


/* 가이드링크, 주소 및 저작권 */

.guide,
.address,
.copyright {
  margin: 10px 80px 10px 180px;
}

.guide {
  background: #7b8385;
  color: #fff;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
}

.guide a {
  display: block;
  padding: 8px 15px;
  text-transform: uppercase;
}

.address span {
  margin-right: 10px;
}

.tech-logo {
  position: absolute;
  top: 10px;
  right: 0px;
}


/* .footer-bg {
  background: #aaa linear-gradient(to bottom, #aaa, #fff)
}

.footer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.footer-logo {
  position: absolute;
  top: 30px;
  left: 35px;
}

.guide {
  background: #7b8385;
  border-radius: 20px;
}

.guide li {
  margin: 5px 20px 5px 20px;
  float: left;
}

.guide,
.address,
.copyright {
  margin: 5px 0px 5px 180px;
}

.guide {
  color: #fff;
}

.tech-logo {
  position: absolute;
  top: 0px;
  right: 0px;
} */